.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#heroBanner {
  background-color: aliceblue;
}
/*color palellets*/
/*color Purple*/
.bg-purple{
  background-color: purple;
}

.btn-outline-purple {
  color: purple;
  border-color: purple;
}

.btn-outline-purple:hover{
  color: #fff;
    background-color: purple;
    border-color: purple;
}

.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgb(128 0 128 / 50%);
}

/*color Opera Mauve*/

.bg-2{
  background-color: rgb(178, 135, 163);
}

.btn-outline-2 {
  color: rgb(178, 135, 163);
  border-color: rgb(178, 135, 163);
}

.btn-outline-2:hover{
  color: #fff;
    background-color: rgb(178, 135, 163);
    border-color: rgb(178, 135, 163);
}

.btn-outline-2:focus {
  box-shadow: 0 0 0 0.25rem rgb(178, 135, 163 / 50%);
}

/*color PowderBlue*/

.bg-powderblue{
  background-color: powderblue;
}

.btn-outline-powderblue {
  color: powderblue;
  border-color: powderblue;
}

.btn-outline-powderblue:hover{
  color: #fff;
    background-color: powderblue;
    border-color: powderblue;
}

.btn-outline-powderblue:focus {
  box-shadow: 0 0 0 0.25rem rgb(154, 212, 214 / 50%);
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.text-purple{
  color: purple;
}

.text-2{
  color: rgb(178, 135, 163);
}

.text-powderblue{
  color: powderblue;
}

.link-purple{
  color: purple;
}

.link-2{
  color: rgb(178, 135, 163);
}

.link-powderblue{
  color: powderblue;
}
